<body class = "wotbody">
<h1 class="wottitle">Wall of Tweets @ <a href="https://fly.io/">Fly.io</a></h1>

<link rel="stylesheet" href="/waslab04/app/assets/stylesheets/application.css" data-turbo-track="reload" />

<%= render 'form', tweet: @tweet %>

<% if notice %>
  <div class = "wotitem">
    <div class="tweetitem" id="notice">
      <% if notice[0] == 'T' %>
        <span style="color: green;"><%= notice %></span>
      <% else %>
        <span style="color: red;"><%= notice %></span>
      <% end %>
    </div>
  </div>
<% end %>




<div id="tweets">
  <% @actual_day = "" %>
  <% @tweets.each do |tweet| %>
   <% @tweeet_day = tweet.created_at.strftime("%A, %B %d, %Y") %>
    <% if @actual_day != @tweeet_day %>
    <h3>
      ......
      <%= @actual_day = @tweeet_day %>
    </h3>
  <% end %>
  <%= render tweet %>
  <% end %>
  </div>
</body>

